@{
  Layout = "_Layout";
}

  <div class="jumbotron">
    <h1>MakeMeTakeMeReadMe</h1>

  </div>
  <div class="row">
    <div class="col-lg-6">
      <p>@Model.SectionHeaders("heroOpen")@Model.SectionHeaders("heroURL")@Model.SectionHeaders("heroClose")</p>
      <br>
      <p>@Model.SectionHeaders("titleOpen")@Model.SectionHeaders("title")@Model.SectionHeaders("titleClose")</p>
      <br>
      <p>@Model.SectionHeaders("taglineOpen")@Model.SectionHeaders("tagline")@Model.SectionHeaders("taglineClose")</p>
      <br>
      <p>@Model.SectionHeaders("navigationBar")@if (ViewBag.hasBugStatusNav){@Model.SectionHeaders("hasBugStatusNav")}@if (ViewBag.hasProtectingDataNav){@Model.SectionHeaders("hasProtectingDataNav")}@Model.SectionHeaders("navClose")</p>
      <br>
      <p>@Model.SectionHeaders("aboutOpen")@Model.SectionHeaders("about")@Model.SectionHeaders("aboutClose")</p>
      <br>
      <p>@Model.SectionHeaders("requirementSectionHeader")</p>
      <br>
      <br>
      <p>@Model.SectionHeaders("setupSectionHeader")</p>
      <br>
      @if (ViewBag.hasCloningDataNav){
      <p>@Model.SectionHeaders("cloningSectionHeader")</p>
      <p>@Model.SectionHeaders("cloningTutorial1")</p>
      <p>@Model.SectionHeaders("cloningTutorial2")</p>  
      <p>@Model.SectionHeaders("cloningTutorial3")</p>
      <p>@Model.SectionHeaders("cloningTutorial4")</p>
      <p>@Model.SectionHeaders("cloningTutorial5")</p>    
      <br>
      }

      @if (ViewBag.hasProtectingDataNav){
      <p>@Model.SectionHeaders("protectionSectionHeader")</p>
      <p>@Model.SectionHeaders("protectionTutorial1")</p>
      <p>@Model.SectionHeaders("protectionTutorial2")</p>  
      <p>@Model.SectionHeaders("protectionTutorial3")</p>
      <br>
      }

      <p>@Model.SectionHeaders("technologiesSectionHeader")</p>
        @if (ViewBag.usesPhotoshop){<p>@Model.SectionHeaders("usesPhotoshopSnippet")</p>}
        @if (ViewBag.usesCsharp){<p>@Model.SectionHeaders("usesCsharpSnippet")</p>}
        @if (ViewBag.usesJavascript){<p>@Model.SectionHeaders("usesJavascriptSnippet")</p>}
        @if (ViewBag.usesCss){<p>@Model.SectionHeaders("usesCssSnippet")</p>}
        @if (ViewBag.usesBootstrap){<p>@Model.SectionHeaders("usesBootstrapSnippet")</p>}
        @if (ViewBag.usesSwagger){<p>@Model.SectionHeaders("usesSwaggerSnippet")</p>}
        @if (ViewBag.usesAspDotnetMvc){<p>@Model.SectionHeaders("usesAspDotnetMvcSnippet")</p>}
        @if (ViewBag.usesHtml){<p>@Model.SectionHeaders("usesHtmlSnippet")</p>}
        @if (ViewBag.usesNodeJs){<p>@Model.SectionHeaders("usesNodeJsSnippet")</p>}
        @if (ViewBag.usesWebpack){<p>@Model.SectionHeaders("usesWebpackSnippet")</p>}
        @if (ViewBag.usesJquery){<p>@Model.SectionHeaders("usesJquerySnippet")</p>}
        @if (ViewBag.usesVscode){<p>@Model.SectionHeaders("usesVscodeSnippet")</p>}
        @if (ViewBag.usesMysql){<p>@Model.SectionHeaders("usesMysqlSnippet")</p>}
      <br>
      
      @if (ViewBag.hasBugStatusNav){
      <p>@Model.SectionHeaders("bugSectionHeader")</p>
      <br>
      <p>@Model.SectionHeaders("bugOpen")@Model.SectionHeaders("bugStatus")@Model.SectionHeaders("bugMiddle")@Model.SectionHeaders("bugDate")@Model.SectionHeaders("bugClose")</p>
      <br>
      }

      <br>
      <p>@Model.SectionHeaders("contributorsSectionHeader")</p>
      @if (ViewBag.hasAllisonSadin){<p>@Model.SectionHeaders("contributorAllisonSadin")</p>}
      @if (ViewBag.hasBenWhite){<p>@Model.SectionHeaders("contributorBenWhite")</p>}
      @if (ViewBag.hasBenRussell){<p>@Model.SectionHeaders("contributorBenRussell")</p>}
      @if (ViewBag.hasBeverlyPotts){<p>@Model.SectionHeaders("contributorBeverlyPotts")</p>}
      @if (ViewBag.hasBrittanyLindgren){<p>@Model.SectionHeaders("contributorBrittanyLindgren")</p>}
      @if (ViewBag.hasChristineAugustine){<p>@Model.SectionHeaders("contributorChristineAugustine")</p>}
      @if (ViewBag.hasChrisYoon){<p>@Model.SectionHeaders("contributorChrisYoon")</p>}
      @if (ViewBag.hasCodyFritz){<p>@Model.SectionHeaders("contributorCodyFritz")</p>}
      @if (ViewBag.hasDeryckJackson){<p>@Model.SectionHeaders("contributorDeryckJackson")</p>}
      @if (ViewBag.hasErichRichter){<p>@Model.SectionHeaders("contributorErichRichter")</p>}
      @if (ViewBag.hasEvgeniyaChernaya){<p>@Model.SectionHeaders("contributorEvgeniyaChernaya")</p>}
      @if (ViewBag.hasFrederickErnest){<p>@Model.SectionHeaders("contributorFrederickErnest")</p>}
      @if (ViewBag.hasHannahBeinstein){<p>@Model.SectionHeaders("contributorHannahBeinstein")</p>}
      @if (ViewBag.hasIanGregg){<p>@Model.SectionHeaders("contributorIanGregg")</p>}
      @if (ViewBag.hasIanScott){<p>@Model.SectionHeaders("contributorIanScott")</p>}
      @if (ViewBag.hasJamesHenager){<p>@Model.SectionHeaders("contributorJamesHenager")</p>}
      @if (ViewBag.hasJasonKhan){<p>@Model.SectionHeaders("contributorJasonKhan")</p>}
      @if (ViewBag.hasJeffreyKim){<p>@Model.SectionHeaders("contributorJeffreyKim")</p>}
      @if (ViewBag.hasJohnNilsOlson){<p>@Model.SectionHeaders("contributorJohnNilsOlson")</p>}
      @if (ViewBag.hasJosephPearce){<p>@Model.SectionHeaders("contributorJosephPearce")</p>}
      @if (ViewBag.hasKateSkorija){<p>@Model.SectionHeaders("contributorKateSkorija")</p>}
      @if (ViewBag.hasKevinDavis){<p>@Model.SectionHeaders("contributorKevinDavis")</p>}
      @if (ViewBag.hasKyleHubbard){<p>@Model.SectionHeaders("contributorKyleHubbard")</p>}
      @if (ViewBag.hasMarielHamson){<p>@Model.SectionHeaders("contributorMarielHamson")</p>}
      @if (ViewBag.hasMeganHepner){<p>@Model.SectionHeaders("contributorMeganHepner")</p>}
      @if (ViewBag.hasMichealHansen){<p>@Model.SectionHeaders("contributorMichealHansen")</p>}
      @if (ViewBag.hasNoelKirkland){<p>@Model.SectionHeaders("contributorNoelKirkland")</p>}
      @if (ViewBag.hasPeterGrimm){<p>@Model.SectionHeaders("contributorPeterGrimm")</p>}
      @if (ViewBag.hasSaraKane){<p>@Model.SectionHeaders("contributorSaraKane")</p>}
      @if (ViewBag.hasSeanDowns){<p>@Model.SectionHeaders("contributorSeanDowns")</p>}
      @if (ViewBag.hasSpencerMoody){<p>@Model.SectionHeaders("contributorSpencerMoody")</p>}
      @if (ViewBag.hasTaylorPhillips){<p>@Model.SectionHeaders("contributorTaylorPhillips")</p>}
      @if (ViewBag.hasTaylorSomers){<p>@Model.SectionHeaders("contributorTaylorSomers")</p>}
      @if (ViewBag.hasTeresaRosinksi){<p>@Model.SectionHeaders("contributorTeresaRosinksi")</p>}
      @if (ViewBag.hasThomasGlenn){<p>@Model.SectionHeaders("contributorThomasGlenn")</p>}
      @if (ViewBag.hasTristanEmmerson){<p>@Model.SectionHeaders("contributorTristanEmmerson")</p>}
      @if (ViewBag.hasTysonLackey){<p>@Model.SectionHeaders("contributorTysonLackey")</p>}
      
      <p>@Model.SectionHeaders("keyword1") @Model.SectionHeaders("keyword2") @Model.SectionHeaders("keyword3") @Model.SectionHeaders("keyword4") @Model.SectionHeaders("keyword5") @Model.SectionHeaders("keyword6")</p>
      <p>@Model.SectionHeaders("mitLicense1")</p>
      <p>@Model.SectionHeaders("mitLicense2")</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center space">
      <a href="/ReadmeOneInput" class="btn btn-info large">REMAKE</a> <a href="/" class="btn btn-info large">Home</a>
    </div>
  </div>
