@{
  Layout = "_Layout";
}
  <div class="jumbotron">
    <h1>MakeMeTakeMeReadMe</h1>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <p>@Model.GetSnippet("titleOpen")@Model.GetSnippet("title")@Model.GetSnippet("titleClose")</p>
      <br>
      <p>@Model.GetSnippet("taglineOpen")@Model.GetSnippet("tagline")@Model.GetSnippet("taglineClose")</p>
      <br>
      @Model.GetSnippet("heroOpen")@Model.GetSnippet("heroURL")@Model.GetSnippet("heroClose")
      <br>
      <p>@Model.GetSnippet("navigationBar")</p>
      <br>
      <p>@Model.GetSnippet("aboutOpen")@Model.GetSnippet("about")@Model.GetSnippet("aboutClose")</p>
      <br>
      <p>@Model.GetSnippet("bugOpen")@Model.GetSnippet("bugStatus")@Model.GetSnippet("bugMiddle")@Model.GetSnippet("bugDate")@Model.GetSnippet("bugClose")</p>
      <br>
      <p>@Model.GetSnippet("requirementSectionHeader")</p>
      <br>
      <p>@Model.GetSnippet("protectionSectionHeader")</p>
      <br>
      <p>@Model.GetSnippet("setupSectionHeader")</p>
      <br>
      <p>@Model.GetSnippet("qandcSectionHeader")</p>
      <br>
      <p>@Model.GetSnippet("technologiesSectionHeader")</p>
      <br>
      <p>@Model.GetSnippet("requirementSectionHeader")</p>
      <br>
      <p>@Model.GetSnippet("bugSectionHeader")</p>
      <br>
      <p>@Model.GetSnippet("contributorsSectionHeader")</p>
      <br>
      <p>#@Model.GetSnippet("keyword1"), #@Model.GetSnippet("keyword2"), #@Model.GetSnippet("keyword3"), #@Model.GetSnippet("keyword4"), #@Model.GetSnippet("keyword5"), #@Model.GetSnippet("keyword6")</p>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center space">
      <a href="/ReadmeOneInput" class="btn btn-info large">REMAKE</a> <a href="/" class="btn btn-info large">Home</a>
    </div>
  </div>
